<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @page.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @page.phone %>
</p>

<p>
  <strong>Work:</strong>
  <%= @page.work %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
